<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
    <title>Congratulations</title>
    <style>

        body{
            display: flex;
            justify-content: center;
        }

        h1,h2{
            font-family: 'Poppins', 'Sans-serif';
            text-align: center;
        }

        .login{
            color:white;
            width:140px;
            height:35px;
            background-color: blue;
            border-width: 0px;
            border-radius: 15px;
            font-weight: bold;
        }

        a{
            color:white;
            font-family: 'Poppins';
            text-decoration: none;
            font-weight: bold;
        }

        .card{
            margin-top: 40px;
            height:auto;
            width:80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            padding-bottom:40px;
            box-shadow: 0 0 2px 2px rgb(0,0,0,0.1);
        }

        @media only screen and (max-width: 768px) {
            h1{
                font-size: 20px;
            }
            h2{
                font-size: 16px;
                font-weight: 100;
            }
        }
    </style>
</head>
<body style="background-color: rgb(221, 209, 198);">

    <div class="card">
    <h1><%= title %></h1>
    <h2><%= subtitle %></h2>
    <a href="/"><button class="login">LogIn</button></a>
    </div>
</body>
</html>